  .subscribe-button {
    background-color: rgb(204, 0, 0);
    color: white;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.15s;
  }
  .subscribe-button:hover {
    opacity: 0.7;
  }
  .subscribe-button:active {
    opacity: 0.3;
  }
  .join-button {
    background-color: white;
    color: rgb(6, 95, 212);
    border-color: rgb(6, 95, 212);
    border-style: solid;
    height: 30px;
    width: 50px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.15s;
    border-width: 0.8px;
  }
  .join-button:hover {
    background-color: blue;
    color: white;
  }
  .join-button:active {
    opacity: 0.3;
  }
  .tweet-button {
    background-color: rgb(33, 147, 227);
    color: white;
    border-radius: 50px;
    border-color: rgb(33, 147, 227);
    border-style: solid;
    height: 30px;
    width: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.15s;
  }
  .tweet-button:hover {
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.3);
    transition: opacity 0.15s;
  }
  .tweet-button:active {
    opacity: 0.3;
  }
  .request-button {
    background-color: black;
    color: white;
    margin-top: 10px;
    height: 30px;
    font-size: small;
    cursor: pointer;
    transition: opacity 0.15s;
  }
  .request-button:hover {
    opacity: 0.8;
  }
  .add-button {
    background-color: rgb(255, 216, 20);
    color: black;
    border-radius: 50px;
    border: none;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    transition: background-color 0.15s;
  }
  .add-button:hover {
    background-color: rgba(216, 183, 18, 0.903);
  }
  .sign_up-button {
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    font-weight:bold ;
    margin-top: 10px;
    height: inherit;
    height: 30px;
    width: 80px;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 1s;
  }
  .sign_up-button:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }
  .get_started-button {
    background-color: rgb(121, 82, 179);
    color:white ;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
    transition:  background-color 0.15s;
  }
  .get_started-button:hover {
    background-color: rgb(81, 19, 174);
  }
  .download-button {
    background-color: white;
    border-color: rgb(108, 117, 125);
    border-radius: 4px;
    color: rgb(108, 117, 125);
    height: 30px;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
    transition: background-color 0.15s, color 0.15s;
  }
  .download-button:hover {
    background-color: rgb(108, 117, 125);
    color: white;
    border-style: solid;
  }
  .apply-button {
    background-color: rgb(10, 102, 194);
    color: white;
    width: 220px;
    height: 30px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    transition: background-color 0.15s;
  }
  .apply-button:hover {
    background-color: rgb(9, 77, 145);
  }
  .save-button {
    background-color: white;
    color: rgb(10, 102, 194);
    border-color: rgb(10, 102, 194);
    border-radius: 20px;
    height: 30px;
    width: 80px;
    font-weight: bold;
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.15s;
  }
  .save-button:hover {
    border-width: 2.3px;
    background-color: rgba( 0, 0, 0, 0.1);
  }