.sidebar {
  position: fixed;
  top:55px;
  bottom: 0;
  left: 0;
  width: 72px;
  background-color: white;
  z-index: 2;
  padding-top: 5px;
}
@media(min-width:1200px) {
  .sidebar {
    position: fixed;
    top:55px;
    bottom: 0;
    left: 0px;
    right: 0px;
    width: 72px;
    background-color: white;
    z-index: 2;
    padding-top: 5px;
    width: 200px;
  }
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media(min-width:1200px) {
  .sidebar-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  .kuay{
    width: 80px;
  }
  .sidebar-link {
    height: 40px;
    justify-content: start;
    margin-left: 25px;
  }
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.sidebar-link img {
  height: 24px;
}

.sidebar-link, div {
  font-family: roboto,arial;
  font-size: 10px;
}